




{% block body %}
    <h1>Edit Utilisateur</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profile_show') }}">back to profile</a>

   
{% endblock %}
