.packs-row{
    display: flex;

    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}


.pack-search-input{
    width: 15rem;
    height: 3rem;
    transition: all 0.4s;
    padding: 0 1rem;
    outline: none;
    background-color: rgba(0,0,0,.03);
    
}

.pack-search-input:focus{
    border: 1px solid #000;
}