{% extends 'base.html.twig' %}


{% block body %}


    {{ include('participation_seance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_participation_seance_index') }}">back to list</a>
{% endblock %}
