{% extends 'base.html.twig' %}


{% block body %}

    {{ include('participation_seance/_form.html.twig') }}

    <a href="{{ path('app_participation_seance_index1') }}">back to list</a>
{% endblock %}
