{% extends 'baseFront.html.twig' %}

{% block body %}

<div style="text-align:center; margin-top:20px">

    <img src="https://thesceneisdead.com/wp-content/uploads/2013/04/Sold-Out.jpg" alt="Sold Out" >
    <h1>We hope to see you at our next event!</h1>
    </div>

{% endblock %}