{% extends 'baseBack.html.twig' %}
{% block title %}
<title>Edit Categorie</title>
{% endblock %}



{% block body %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <a href="{{ path('app_categorie_index') }}"class="material-icons"> arrow_back_ios</a>

    <h1>Edit Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
